<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/add_insumo" enctype="multipart/form-data">

        <input type="text" name="insumos" placeholder="Insumo">
        <br>
        <input type="text" name="registro" placeholder="Registro">
        <br>
        <input type="text" name="ubicacion" placeholder="Ubicación">
        <br>
        <input type="text" name="estado" placeholder="Estado">
        <br>
        <input type="text" name="precio_unitario" placeholder="Precio Unitario">
        <br>
        <input type="text" name="fecha_de_ingreso" placeholder="Fecha de Ingreso">
        <br>
        <input type="text" name="fecha_de_actualizacion" placeholder="Fecha de actualización">
        <br>
        <input type="text" name="observacion" placeholder="Observación">
        <br>

        <!-- Botón para guardar -->
        <button type="submit">
            Guardar
        </button>
</form>
</body>
</html>
