<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/home.css">
    <title>Document</title>
</head>
<body>
    
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <!-- Desplegable -->
    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="cloud" name="cube-outline"></ion-icon>
                <span>Sistemas</span>
            </div>
            <button class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <span>Create new</span>
            </button>
        </div>

        <!-- Barra de navegación -->
        <nav class="navegacion">
            <ul>
                <li>
                    <a id="inventario" href="#">
                        <ion-icon name="layers-outline"></ion-icon>
                        <span>Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="hardware-chip-outline"></ion-icon>
                        <span>Planilla Hardware</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="desktop-outline"></ion-icon>
                        <span>Mantenimientos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="headset-outline"></ion-icon>
                        <span>Gestor averías</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="terminal-outline"></ion-icon>
                        <span>IP-BOX</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="wallet-outline"></ion-icon>
                        <span>Finanzas Inv</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="person-add-outline"></ion-icon>
                        <span>Crear Usuario</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Theme</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/src/static/js/desplegable.js"></script>
</body>
</html>

<!-- https://www.youtube.com/watch?v=nvh51c4UfmM&t=394s 11:54 -->