
    <form method="POST" action="/add_ip" enctype="multipart/form-data">
        <input type="text" name="ip" placeholder="IP">
        <br>
        <input type="text" name="inventario" placeholder="Inventario">
        <br>
        <input type="text" name="hostname" placeholder="Hostname">
        <br>
        <input type="text" name="extension" placeholder="Extensión">
        <br>
        <input type="text" name="contrasena" placeholder="Contraseña">
        <br>
        <input type="text" name="box" placeholder="Box">
        <br>
        <input type="text" name="sector" placeholder="Sector">
        <br>
        <input type="text" name="fecha_de_actualizacion" placeholder="Fecha de Actualización">        
        <br>
        <input type="text" name="observacion" placeholder="Observación">
        <br>
        
        <!-- Botón para guardar -->
        <button type="submit">
            Guardar
        </button>

        <!-- Botón para volver al ingresar a create -->
        <a href="{{url_for('ip_box')}}">volver</a>
</form>