{% include 'header.html' %}
Formulario para Editar en IP_BOX

{% for item in inv_ip %}
    <form method="POST" action="/update_ip/{{item[0]}}" enctype="multipart/form-data">
        <input type="text" value="{{item[1]}}" name="ip" placeholder="IP">
        <br>
        <input type="text" value="{{item[2]}}" name="inventario" placeholder="Inventario">
        <br>
        <input type="text" value="{{item[3]}}" name="hostname" placeholder="Hostname">
        <br>
        <input type="text" value="{{item[4]}}" name="extension" placeholder="Extension">
        <br>
        <input type="text" value="{{item[5]}}" name="contrasena" placeholder="Contraseña">
        <br>
        <input type="text" value="{{item[6]}}" name="box" placeholder="Box">
        <br>
        <input type="text" value="{{item[7]}}" name="sector" placeholder="Sector">
        <br>
        <input type="text" value="{{item[8]}}" name="fecha_de_actualizacion" placeholder="Fecha de Actualización">
        <br>
        <input type="text" value="{{item[8]}}" name="observacion" placeholder="Observación">
        <br>
        
        <form action="/descargar">
            <button type="submit">Guardar Cambios</button>
        </form>
       
    </form>

{% endfor %}

{% include 'footer.html' %}