{% include 'header.html' %}


    <!-- Contenedores Título, Botón para agregar elementos de la tabla ip_box-->
    <div class="center-container-ip_box">
    <div class="tittle-ip_box">
        <h1>IP - BOX</h1>
    </div>
    <div class="create_ip">
        <a href="{{url_for('create_ip')}}" class="btn btn-success">Añadir IP</a>
    </div>


    <!-- Contenedores para la tabla ip_box-->
    <div class="table-responsive">
        <table class="table table-striped  table-sm table-bordered" id="table-ip_box">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>IP</th>
                    <th>Inventario</th>
                    <th>Hostname</th>
                    <th>Extensión</th>
                    <th>Contrasena</th>
                    <th>Box</th>
                    <th>Sector</th>
                    <th>Fecha de Actualización</th>
                    <th>Observaciones</th>

                </tr>
            </thead>
            <tbody id="tbody-id_box">

            
                {% for item in ip_box %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <td>{{ item[9] }}</td>
                    <td>{{ item[10] }}</td>
                    <td style="display: flex; justify-content: space-between;">
    <!-- modificar las rutas creando las nuevas que sean redirigidas al area de ip_box-->
                <a href="/editar_ip/{{item[0]}}" class="btn btn-primary btn-sm">Editar</a>                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'footer.html' %}