{% include 'header.html' %}
    <form method="POST" action="/add_insumo_fin" enctype="multipart/form-data">

        <input type="text" name="numero_de_registro" placeholder="Numero de Registro">
        <br>
        <input type="text" name="clasificacion" placeholder="Clasificación">
        <br>
        <input type="text" name="detalle_del_bien" placeholder="Detalle del Bien">
        <br>
        <input type="text" name="edificio" placeholder="Edificio">
        <br>
        <input type="text" name="area_responsable" placeholder="Area Responsable">
        <br>
        <input type="text" name="estado" placeholder="Estado">
        <br>
        <input type="text" name="valor_unitario" placeholder="Valor Unitario">
        <br>
        
        <!-- Botón para guardar -->
        <button type="submit">
            Guardar
        </button>

        <!-- Botón para volver al ingresar a create -->
        <a href="/">volver</a>
</form>

{% include 'footer.html' %}
