.center-container {
    display: flex;
    justify-content: flex-start; /* Colocar al principio y al final, con espacio en el medio */
    align-items: center; /* Centrar verticalmente */
  }

.agregar-search {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}


.container{
    margin-top: 5%;
}

.search-box {
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 5px 10px;
}

#search-input {
    border: none; 
    outline: none; 
    width: 150px;
    margin-right: 10px; 
}


.td-container tr td {
    vertical-align: middle;
}

.td-container tr td.centered {
    vertical-align: middle;
}

.flash-messages {
    margin-top: 5px;
    display: flex;
    justify-content: left; /* Centra verticalmente el contenido */
    animation: fadeOutUp 0.5s ease-in-out 2s forwards;
    max-height: 50px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.btn i.bi {
    display: block; 
    margin: 0 auto; 
    padding: 2px;
    font-size: 18px; 
}
