{% include 'header.html' %}
    
    <!-- Contenedores Título, Botón para agregar elementos y barra de búsqueda -->
    <div class="center-container">
        <div class="row">
            <div class="col-12">
                <div class="tittle-inv">
                    <h2>Sistema de inventario</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="add-insumo" style="margin-left: -40vh">

                    <!-- Boton modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Agregar insumo
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo insumo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row mt-3">
                                    <div class="col">
                                        <form action="/add_insumo" method="POST" id="guardar-button">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="insumos" class="form-label">Insumo</label>
                                                    <input type="text" name="insumos" class="form-control"  id="insumos">
                                                </div>

                                                <div class="col-6">
                                                    <label for="registro" class="form-label">Registro</label>
                                                    <input type="text" name="registro" class="form-control"  id="registro">
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="ubicacion" class="form-label">Ubicación</label>
                                                    <input type="text" name="ubicacion" class="form-control"  id="ubicacion">
                                                </div>

                                                <div class="col-6">
                                                    <label for="estado" class="form-label">Estado</label>
                                                    <input type="text" name="estado" class="form-control"  id="estado">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="precio_unitario" class="form-label">Precio Unitario</label>
                                                    <input type="text" name="precio_unitario" class="form-control" id="precio_unitario">
                                                </div>

                                                <div class="col-6">
                                                    <label for="fecha_de_ingreso" class="form-label">Fecha de ingreso</label>
                                                    <input type="text" name="fecha_de_ingreso" class="form-control" id="fecha_de_ingreso">
                                                </div>
                                            </div>

                                            <label for="fecha_de_actualizacion" class="form-label">Fecha de actualización</label>
                                            <input type="text" name="fecha_de_actualizacion" class="form-control" id="fecha_de_actualizacion">

                                            <label for="observacion" class="form-label">Observación</label>
                                            <textarea name="observacion" class="form-control" id="observacion"></textarea>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" id="guardar-button">Guardar</button>
                        </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="search-container">
                    <div class="search-box">
                        <input type="text" id="search-input" placeholder="Buscar" class="form-control">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Contenedores para la tabla -->
   <div class="table-responsive">
        <table class="table align-middle" id="table-inventario">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Insumos</th>
                    <th>Registro</th>
                    <th>Ubicación</th>
                    <th>Estado</th>
                    <th>Precio Unitario</th>
                    <th>Fecha de ingreso</th>
                    <th>Fecha de actualización</th>
                    <th>Observación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        <div class="td-container">
            <tbody class="table-group-divider" id="tbody-inventario">
                {% for item in inv %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <div class="boton-contenedor">
                    <td style="display: flex; justify-content: space-between;">
                        <a href="/edit_insumo/{{item[0]}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a> | 
                        <a href="/delete_insumo/{{item[0]}}" class="btn btn-danger btn-sm" onclick="return ConfirmDelete()" ><i class="bi bi-trash3"></i></i></a>
                    </td> 
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </div>
        </table>
    </div>
</div>


{% include 'footer.html' %}




    



    





    